.banner-contact {
  height: 300px;
  background-size: cover !important;
}

.list {
  width: 100%;
  margin-right: 0;
  p {
    line-height: 1.3em;
  }
}

#parking {
  text-decoration: underline;
}

.fa-circle {
  font-size: 9px;
  padding-right: 10px;
}
