.main-text-inter {
  margin-bottom: 30px;
}

.intervenant {
  margin-top: 20px;
  line-height: 1.8;
  li {
    padding-left: 3px;
  }
}

@media only screen and (max-device-width : 768px) {
.card-intervenant {
  margin-left: 0px;
  width: 100%;
  }
}
