.card-profile {
  background: white;
  width: 80%;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-left: 201px;
}

.profil {
  margin: 20px 0 30px 0;
}

ul {
  line-height: 1.8;
}

@media only screen and (max-device-width : 768px) {
  .card-profile {
    width: 100%;
    margin-left: 0;
    }
}

.banner-formation {
  height: 400px;
}
