.card-therapie {
  background: white;
  width: 80%;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-left: 202px;
}

@media only screen and (max-device-width : 768px) {
  .card-therapie {
      margin-left: 0px;
      width: 100%;
    }
}
