// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";



body {
  background: #e6ecf0;
  color: black;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}
