// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";



body {
  background: #e6ecf0;
  color: black;
  font-family: 'Montserrat', sans-serif;
}


#page-content {
  margin-left: 0px;
}


@media only screen and (min-device-width : 768px) {
#page-content {
  margin-left: 120px;
  }
}




