<div id="page-content">
  <div class="container">

    <div class="card-contact">
      <div class="left">
        <h4>Pierre-Yves Mori</h4>
        <i class="fas fa-envelope"></i>
        <a href="mailto:mori.pierreyves@gmail.com">mori.pierreyves@gmail.com</a>
        <h5><i class="fas fa-phone-volume"></i> +33 07 79 83 19 65</h5>
      </div>
        <div class="right">
        <%#= link_to mail_to "mori.pierreyves@gmail.com" , class: "navbar-wagon-brand" do %>
          <%= image_tag "pym-blue.jpeg", class: "avatar"%>
        <%# end %>

        </div>
    </div>
  </div>
</div>
