<div class="row">
  <div class="col-xs-12">
    <div class="card-contact-side ">
      <div class="left">
        <h4>Pierre-Yves Mori</h4>
        <i class="fas fa-envelope"></i>
        <a href="mailto:mori.pierreyves@gmail.com">mori.pierreyves@gmail.com</a><br>
        <i class="fas fa-phone-volume"></i><a href="tel:+330779831965"> +33 07 79 83 19 65</a>
      </div>
      <div class="right hidden-xs">
        <%= link_to  "mailto:mori.pierreyves@gmail.com" do %>
          <%= image_tag "pym-blue.jpeg", class: "avatar"%>
        <% end %>
      </div>
    </div>
  </div>
</div>


