<div class="container">
  <div class="row">
    <div id="sidebar" class="hidden-xs hidden-sm">
      <ul class="list-unstyled">
        <li>
          <%= link_to "Thérapie individuelle", pages_therapie_path %>
        </li>
        <li>
          <%= link_to "Intervention extérieure", pages_intervenant_path %>
        </li>
        <li>
          <%= link_to "La Thérapie comportementale et cognitive", pages_tcc_path %>
        </li>
      </ul>
    </div>
  </div>
</div>



