<div class="container">
<div id="sidebar">
      <ul>
        <li>
          <%= link_to "Thérapie individuelle", pages_therapie_path %>
        </li>
        <li>
          <%= link_to "Intervention extérieure", pages_intervenant_path %>
        </li>
        <li>
          <%= link_to "La Thérapie comportementale et cognitive", pages_informations_path %>
        </li>
      </ul>
    </div>
</div>



