<div class="container">
  <div class="row">
    <div id="sidebar" class="hidden-xs">
      <ul class="list-unstyled">
        <li>
          <%= link_to "Thérapie individuelle", pages_therapie_path, class:"tab" %>
        </li>
        <li>
          <%= link_to "Intervention extérieure", pages_intervenant_path, class:"tab" %>
        </li>
        <li>
          <%= link_to "La Thérapie comportementale cognitive et émotionnelle", pages_tcc_path, class:"tab" %>
        </li>
      </ul>
    </div>
  </div>
</div>
