<div id="page-content">
  <div class="banner-place">
    <div class="banner-contact" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(<%= image_path "contact.png" %>);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <div class="card-contact">
          <h4>Où me trouver :</h4>
          <br>
          <ul class= "list">
            <li><strong>Intervenant</strong> - Clinique les horizons  (centre de psychatrie ambulatoire de Cenon - Bordeaux)</li>
            <br>
            <li><strong>Psychothérapeute</strong> - CAPSYVI (centre Aquitain de psychothérapie des victimes - Anglet)</li>
            <br>
            <li><strong>Psychothérapeute</strong> - Cabinet libéral (me contacter pour l'adresse - Bordeaux)</li>
          </ul>
        </div>
      </div>
      </div>
    </div>
</div>
