<div id="page-content">
  <div class="banner-place">
    <div class="banner-contact" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(<%= image_path "contact.png" %>);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <div class="card-contact">
          <h4>Où me trouver :</h4>
          <br>
          <ul class= "list">
            <li><strong>Intervenant</strong> - Clinique les horizons  (centre de psychatrie ambulatoire de Cenon - Bordeaux)</li>
            <br>
            <li><strong>Psychothérapeute</strong> - CAPSYVI (centre Aquitain de psychothérapie des victimes - Anglet)</li>
            <br>
            <li><strong>Psychothérapeute</strong> - Cabinet libéral <br><br>
              <p><strong>4 rue du puits descazeaux <br>
                33000 Bordeaux</strong>
                <div id="map"
                  style="width: 100%;
                  height: 600px;">
                </div>
                <br>
                <p id ="parking">Parkings à proximité</p>
                <ul class="list-unstyled">
                  <li><i class="fas fa-circle"></i>Parking Parking Alsace-Lorraine (163 m)</li>
                  <li><i class="fas fa-circle"></i>Salinières (287 m)</li>
                  <li><i class="fas fa-circle"></i>Parking La Grave (288 m)</li>
                </ul>
              </p>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
</div>
