<div id="page-content">
  <div class="container">

    <div class="card">
        <h4>Où me trouver</h4>
        <ul>
          <li>Clinique les horizons</li>
        </ul>
        </div>

    </div>

  </div>
</div>
