<div id="page-content">
  <div class="container">
    <div class="card text_center text-justify">

      <h4>Intervention en structure de soin</h4>

      <p>Dans l’objectif de promouvoir la T.C.C. auprès de structure de soins, je propose des interventions sous forme d’atelier thérapeutique.
      Les ateliers sont orientés sur la psychoéducation des différents processus investies dans les troubles et pathologies psychiatriques, afin dans favoriser sa compréhension et son amélioration.
      Ils permettent également d’acquérir des outils de soins d’orientation T.C.C. que les patients pourront appliquer dans leurs thérapies individuelles ou de groupes.
    Vous trouverez ci joint: la liste des différents ateliers thérapeutiques que je propose:</p>
    <hr>

      <h4>Présentation des ateliers thérapeutiques </h4>
        <ul class="list-unstyled">
          <li>Gestion des émotions</li>
          <li>Estime de soi</li>
          <li>Affirmation de soi</li>
          <li>Psycho-education de la dépression</li>
          <li>Prévention des rechutes dépressives</li>
          <li>Hygiène de vie</li>
          <li>Education thérapeutique sommeil</li>
          <li>Psychoéductation du trouble bipolaire</li>
          <li>Psychoéducation des troubles anxieux</li>
          <li>Psychoéducation des comorbidités fréquentes de la dépression</li>
          <li>Psycholigie positive</li>
          <li>Sophrologie</li>
          <li>Technique corporelle d'amménagement émotionnel</li>
        </ul>

    </div>
  </div>
</div>
