<div id="page-content">
  <div class="banner-place">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path "banner-formation.png" %>);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-profile text_center text-justify">

            <h2>Formation</h2>
            <hr>

            <h4><strong>Thérapie comportementale et cognitive</strong></h4>

            <h5><strong>- EPTHECC / IRCCADE 2016-2018 - </strong></h5>
            <p>Enseignement de la Psychopathologie et des Thérapies Comportementales et Cognitives
            Institut de Recherche Comportementale et Cognitive sur l’Anxiété et la Dépression</p>

            <h4><strong>Formations complémentaires</strong></h4>
            <ul class="list-unstyled">
              <li>ESPT: informations cliniques et pratiques</li>
              <li>Le traumatisme psychique</li>
              <li>Trouble du sommeil</li>
              <li>Le burn-out ou état d’épuisement professionnel</li>
              <li>Affirmation de soi</li>
              <li>Trouble bipolaire</li>
              <li>Sensibilisation à la sophrologie</li>
              <li>Psychologie positive</li>
            </ul>

            <hr>

            <h4>INFIRMIER DIPLÔMÉ D’ÉTAT</h4>
              <h5><strong>- IFSI CROIX ROUGE 2010-2014 -</strong></h5>
              <p>Institut de Formation en Soins Infirmiers de la Croix Rouge Française</p>
          </div>
        </div>
      </div>
    </div>
  </div>

