<div id="page-content">
  <div class="banner-place">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path "mountain.jpg" %>);">
    </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-therapie text-justify">
          <h4 class="text_center">Présentation</h4>
          <br>
          <p>Dans le cadre de mon activité libérale, je propose une approche psychothérapeutique qui se base sur le référentiel des thérapies comportementales et cognitives (TCC).
          Le but de cet accompagnement consiste à aider la personne à comprendre les dynamiques dysfonctionnelles qui ont causé et qui entretiennent son problème, et à mettre en place des stratégies concrètes de changement.
          Le processus thérapeutique initie et consolide la construction d’une "partie saine" chez le patient, l’aidant à changer de perspective et à rompre les cercles vicieux dont il est victime.
        </p>

        <hr>

        <h4 class="text_center">Pratique actuelle</h4>
        <br>Dans le cadre de mon activité libérale, j'interviens au Centre Aquitaine de psychothérapie des victimes (CAPSYVI) à Anglet.
        Je propose également des consultations le mercredi, jeudi et vendredi en cabinet à Bordeaux, pour lesquelles vous pouvez me solliciter, dans la rubrique contact, afin de prendre rendez-vous.
        L'accompagnement que je propose s'adresse à toutes personnes rencontrant des difficultés psychologiques.</p>
        <hr>
        <h4 class="text_center">Prise en soins</h4>
        <br>
        <ul class="therapie">
          <li>Troubles anxieux (phobies, état de stress post-traumatique, trouble panique, agoraphobie trouble obsessionnel compulsif, trouble anxieux social, trouble anxieux généralisé)</li>
          <li>Troubles de l’humeur</li>
          <li>Problèmes liés à l’estime de soi, la confiance en soi et à l’affirmation de soi</li>
          <li>Problèmes relationnels</li>
          <li>Burn-out et épuisement professionnel</li>
          <li>Trouble bipolaire</li>
          <li>Trouble du sommeil</li>
          <li>Trouble addictif</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
