a{
  color: black;
}

h5 {
  margin-top: 6.5px;
  font-size: 17px;
  margin-bottom: 0;
}

h4 {
  margin-bottom: 6.5px;
}

.card-contact-side {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px)
  and (max-width: 1023px) {
    .card-contact-side {
      width: 100%;
      margin-left: 0px;
    }
}

.text_center{
  text-align: center;
}

.avatar {
  height: 110px;
  width: 110px;
  margin-right: 20px;
  padding-top: 10px;

}

.left {
  padding-top: 5px;
  margin-left: 30px;
}


@media (min-width: 320px)
  and (max-width: 730px) {
  .card-contact-side {
    margin-left: 0px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 0;
      h4 {
        margin-left: 5px;
        margin-top: 0;
        padding-bottom: 20px;
      }
      h5 {
      margin-top: 6.5px;
      font-size: 17px;
      margin-bottom: 3px;
      }
  }
  .left {
    margin: 0 auto;
  }
  .fa-phone-volume {
    margin-left: -17px;
    padding-right: 10px;
  }
  .fa-envelope {
  padding-right: 10px;
  }
  .mail {
    margin-bottom: 10px;
  }
}

@media (min-width: 731px)
  and (max-width: 767px) {
    .left {
      margin-left: 150px;
    }
}
