a{
  color: black;
}

h5 {
  margin-top: 6.5px;
  font-size: 17px;
  margin-bottom: 0;
}

h4 {
  margin-bottom: 6.5px;
}

.card-contact-side {
  background: white;
  max-width: 80%;
  padding: 15px 30px 20px 0px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 204px;
  margin-bottom: 10px;
}

.text_center{
  text-align: center;
}

.avatar {
  height: 110px;
  width: 110px;
  margin-right: 20px;
  padding-top: 10px;

}

.left {
  padding-top: 5px;
  margin-left: 30px;
}


@media only screen and (max-device-width : 768px) {
  .card-contact-side {
    margin-left: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
      h4 {
        margin-left: 25px;
        text-align: center;
      }
      h5 {
      margin-top: 6.5px;
      font-size: 17px;
      margin-bottom: 3px;
      }
  }
  .left {
    margin-left: 25px;
  }
  .fa-phone-volume {
    margin-left: 23px;
  }
  .fa-envelope {
  margin-left: 23px;
  }
}
