a{
  color: black;

}

h5 {
  margin-top: 6.5px;
  font-size: 17px;
  margin-bottom: 0;
}

h4 {
  margin-bottom: 6.5px;
}

.card-contact-side {
  background: white;
  width: 88%;
  padding: 15px 30px 0px 30px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 186px;
}

.text_center{
  text-align: center;
}

.avatar {
  height: 110px;
  width: 110px;
  margin-top: -10px;
  margin-right: 40px;

}

.left {
  padding-top: 5px;
  margin-left: 30px;
}


@media only screen and (max-device-width : 768px) {
  .card-contact-side {
    margin-left: 16px;
    width: 92%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .left {
    margin-left: 15px;
  }
  h5 {
  margin-top: 6.5px;
  font-size: 17px;
  margin-bottom: 3px;
  }
  h4 {
    margin-left: 20px;
    text-align: center;
  }
  .fa-phone-volume {
    margin-left: 23px;
  }
  .fa-envelope {
  margin-left: 23px;
  }
}

















