.contact {
  margin-left: 20px;

}



a{
  color: black;
}

h5 {
  margin-top: 6.5px;
}
.card-contact {
  background: white;
  width: 80%;
  padding: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin-left: 135px;
  margin-top: 20px;
    display: flex;
  justify-content: space-between;
}

.contact {


}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.text_center{
  text-align: center;
}

.avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;

}

.left {

  padding-top: 5px;
}


.right {
  padding: 25px;
  padding-top: 10px;
}















